<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DETAIL</title>
<link rel="stylesheet" type="text/css" th:href="@{./css/thymeleaf.css}">
</head>
<body>
	<th:block th:insert='~{/menu.html :: menu}'></th:block>
	<h1>상세보기</h1>
	<div>
		번호 : [[${detail.bno}]]<br>
		제목 : [[${detail.btitle}]]<br>
		작성자 : [[${detail.m_name}]]<br>
		작성일 : [[${detail.bdate}]]<br>
		내용 : [(${detail.bcontent})]<br>
	</div>
	<button th:onclick = "|location.href='@{/board}'|">목록</button>
	<th:block th:insert='~{/menu.html :: footer}'></th:block>
</body>
</html>