<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LOGIN</title>
<link rel="stylesheet" type="text/css" th:href="@{./css/thymeleaf.css}">
<link rel="stylesheet" type="text/css" th:href="@{./css/login.css}">
</head>
<body>
	<th:block th:insert='~{/menu.html :: menu}'></th:block>
	<div style="height: 70px; width: 100%"></div>
	<div class=wrap>
		<div class="img_form"></div>
		<div class="login_form">
			<h1>LOGIN</h1>
			<form th:action="@{./login}" th:method="post">
				<input type="text" name="id" id="id" placeholder="ID"required="required"> 
				<input type="password" name="pw" id="pw" placeholder="PW" required="required" maxlength="20">
				<button class="login">LOGIN</button>
			</form>
			<div class="find">
				<a>아이디 찾기</a> &nbsp; | &nbsp; <a>비밀번호 찾기</a> &nbsp; <span>|</span>
				&nbsp; <a href="./join">회원가입</a>
			</div>
		</div>
	</div>
	
</body>
</html>